//색 정의하기
//selcted 함수로 정해놓기

.Calendar {
  width: 430px;
  height: 460px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: white;
  .cal_header {
    height: 45px;
  }
  .cal_body {
    height: 415px;
  }
}

//캘린더 헤더
.Header {
  width: 430px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  .info {
    display: flex;
  }

  .prev {
    margin-left: 10px;
    cursor: pointer;
  }

  .current {
    margin: 0 20px;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .next {
    cursor: pointer;
  }
  .return_btn {
    margin-right: 10px;
  }
}

//캘린더 몸체
.Calendar_Body {
  border: 1px solid black;
  border-radius: 10px;
  padding: 12px 5px 12px 5px;

  .weekName {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    position: relative;
    margin: 5px auto;
  }

  .month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    position: relative;
    margin: 5px auto;

    .selected {
      width: 50px;
      height: 50px;
      padding: 1px;
      border: 1px solid blue;
      border-radius: 5px;
      cursor: pointer;
    }

    .day_container {
      width: 50px;
      height: 50px;
      padding: 1px;
      border: 1px solid white;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .sun {
    color: red;
  }
  .sat {
    color: blue;
  }
  .day {
    display: flex;
    margin-top: 3px;
    margin-left: 5px;
  }

  .not_day {
    color: #e2e2e2;
  }
}
